In [111]:
import os
import pandas as pd
import numpy as np
import plotly.express as px


current_directory = os.getcwd()

In [112]:
daily_data_df = pd.read_csv(f"{current_directory}\\worldometer_coronavirus_daily_data.csv")
daily_data_df_copy = daily_data_df.copy()

daily_data_df_copy

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...
184782,2022-5-10,Zimbabwe,248642.0,106.0,963.0,5481.0,2.0
184783,2022-5-11,Zimbabwe,248778.0,136.0,1039.0,5481.0,0.0
184784,2022-5-12,Zimbabwe,248943.0,165.0,1158.0,5481.0,0.0
184785,2022-5-13,Zimbabwe,249131.0,188.0,1283.0,5482.0,1.0
184786,2022-5-14,Zimbabwe,249206.0,75.0,1307.0,5482.0,0.0

In [113]:
summary_data_df = pd.read_csv(f"{current_directory}\\worldometer_coronavirus_summary_data.csv")

summary_data_df_copy = summary_data_df.copy()
summary_data_df_copy

,country,continent,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,population
0,Afghanistan,Asia,179267,7690.0,162202.0,9375.0,1124.0,4420,190.0,951337.0,23455.0,40560636
1,Albania,Europe,275574,3497.0,271826.0,251.0,2.0,95954,1218.0,1817530.0,632857.0,2871945
2,Algeria,Africa,265816,6875.0,178371.0,80570.0,6.0,5865,152.0,230861.0,5093.0,45325517
3,Andorra,Europe,42156,153.0,41021.0,982.0,14.0,543983,1974.0,249838.0,3223924.0,77495
4,Angola,Africa,99194,1900.0,97149.0,145.0,NaN,2853,55.0,1499795.0,43136.0,34769277
...,...,...,...,...,...,...,...,...,...,...,...,...
221,Wallis And Futuna Islands,Australia/Oceania,454,7.0,438.0,9.0,NaN,41755,644.0,20508.0,1886140.0,10873
222,Western Sahara,Africa,10,1.0,9.0,0.0,NaN,16,2.0,NaN,NaN,624681
223,Yemen,Asia,11819,2149.0,9009.0,661.0,23.0,381,69.0,265253.0,8543.0,31049015
224,Zambia,Africa,320591,3983.0,315997.0,611.0,NaN,16575,206.0,3452554.0,178497.0,19342381
225,Zimbabwe,Africa,249206,5482.0,242417.0,1307.0,12.0,16324,359.0,2287793.0,149863.0,15265849

In [114]:
summary_data_df_copy.dtypes

country                            object
continent                          object
total_confirmed                     int64
total_deaths                      float64
total_recovered                   float64
active_cases                      float64
serious_or_critical               float64
total_cases_per_1m_population       int64
total_deaths_per_1m_population    float64
total_tests                       float64
total_tests_per_1m_population     float64
population                          int64
dtype: object

In [115]:
summary_data_df_copy.drop(columns=['serious_or_critical', 'active_cases', 'total_deaths_per_1m_population', 'total_cases_per_1m_population', 'total_tests_per_1m_population'], inplace=True)

summary_data_df_copy['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Australia/Oceania'], dtype=object)

In [116]:
summary_data_df_copy.fillna(0, inplace=True)

summary_data_df_copy[summary_data_df_copy['continent'] == 'Asia']

,country,continent,total_confirmed,total_deaths,total_recovered,total_tests,population
0,Afghanistan,Asia,179267,7690.0,162202.0,951337.0,40560636
8,Armenia,Asia,422896,8623.0,412048.0,3068217.0,2973558
12,Azerbaijan,Asia,792638,9709.0,782869.0,6838458.0,10309383
14,Bahrain,Asia,576997,1479.0,569758.0,9775981.0,1811659
15,Bangladesh,Asia,1953012,29127.0,1899419.0,14051455.0,167745162
22,Bhutan,Asia,59570,21.0,59491.0,2303690.0,787432
28,Brunei Darussalam,Asia,144659,220.0,142788.0,717784.0,445281
33,Cambodia,Asia,136262,3056.0,133194.0,2961934.0,17149867
42,China Hong Kong Sar,Asia,1208506,9361.0,0.0,44972952.0,7610260
43,China Macao Sar,Asia,82,0.0,82.0,5375.0,665819
44,China,Asia,221804,5209.0,210454.0,160000000.0,1439323776
54,Cyprus,Asia,477711,1032.0,124370.0,9477138.0,1223728
77,Georgia,Asia,1655221,16811.0,1637293.0,16920079.0,3974908
94,India,Asia,43121599,524214.0,42579693.0,843836914.0,1405273033
95,Indonesia,Asia,6050776,156458.0,5889534.0,97245391.0,278910317
96,Iran,Asia,7228051,141224.0,7020835.0,51771715.0,85995095
97,Iraq,Asia,2326458,25216.0,2299985.0,18529376.0,41902979
100,Israel,Asia,4106793,10749.0,4081150.0,41373364.0,9326000
103,Japan,Asia,8338211,30039.0,7951587.0,50444181.0,125755488
104,Jordan,Asia,1694216,14048.0,1678941.0,16670254.0,10391780
105,Kazakhstan,Asia,1305636,13661.0,1291669.0,11575012.0,19194987
108,Kuwait,Asia,632074,2555.0,629114.0,8071763.0,4388186
109,Kyrgyzstan,Asia,200993,2991.0,196406.0,1907195.0,6724638
110,Laos,Asia,209386,754.0,0.0,1232128.0,7472169
112,Lebanon,Asia,1097956,10407.0,1084853.0,4795578.0,6768532
122,Malaysia,Asia,4475873,35612.0,4409159.0,59274648.0,33138284
123,Maldives,Asia,179483,298.0,163687.0,2213831.0,558272
135,Mongolia,Asia,469885,2179.0,313256.0,4030048.0,3376601
140,Myanmar,Asia,613140,19434.0,592089.0,8083326.0,55089133
143,Nepal,Asia,978998,11952.0,966904.0,5669140.0,30112649
152,Oman,Asia,389408,4260.0,384592.0,25000000.0,5348410
153,Pakistan,Asia,1529249,30376.0,1494141.0,28350449.0,228878790
159,Philippines,Asia,3687922,60455.0,3624459.0,29827732.0,112297269
162,Qatar,Asia,366179,677.0,364474.0,3487616.0,2807805
177,Saudi Arabia,Asia,759226,9116.0,743921.0,42144668.0,35823522
182,Singapore,Asia,1240233,1362.0,1162140.0,23767171.0,5936034
189,South Korea,Asia,17782061,23709.0,0.0,15804065.0,51351355
192,Sri Lanka,Asia,663671,16511.0,646921.0,6486117.0,21580463
193,State Of Palestine,Asia,582119,5353.0,576684.0,3078533.0,5322203
199,Syria,Asia,55869,3150.0,52479.0,146269.0,18292142
200,Taiwan,Asia,768543,1068.0,60634.0,16207475.0,23897056
201,Tajikistan,Asia,17388,124.0,17264.0,0.0,9936493
203,Thailand,Asia,4373846,29475.0,4273599.0,17270775.0,70126166
204,Timor Leste,Asia,22889,131.0,22746.0,264799.0,1365204
209,Turkey,Asia,15053168,98890.0,14951238.0,160622710.0,86029250
214,United Arab Emirates,Asia,902484,2302.0,886128.0,159103283.0,10112950
217,Uzbekistan,Asia,238802,1637.0,236974.0,1377915.0,34372515
220,Viet Nam,Asia,10696630,43065.0,9355040.0,85811485.0,98969721
223,Yemen,Asia,11819,2149.0,9009.0,265253.0,31049015

In [117]:
# array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
#        'Australia/Oceania'], dtype=object)
summary_criteria = ['population', 'total_confirmed']
sorted_summary_asia = summary_data_df_copy[summary_data_df_copy['continent'] == 'Asia'].head(5).sort_values(by=summary_criteria, ascending=False)
sorted_summary_europe = summary_data_df_copy[summary_data_df_copy['continent'] == 'Europe'].head(5).sort_values(by='total_confirmed', ascending=False)
sorted_summary_africa = summary_data_df_copy[summary_data_df_copy['continent'] == 'Africa'].head(5).sort_values(by='total_confirmed', ascending=False)
sorted_summary_na = summary_data_df_copy[summary_data_df_copy['continent'] == 'North America'].head(5).sort_values(by='total_confirmed', ascending=False)
sorted_summary_sa = summary_data_df_copy[summary_data_df_copy['continent'] == 'South America'].head(5).sort_values(by='total_confirmed', ascending=False)
sorted_summary_au = summary_data_df_copy[summary_data_df_copy['continent'] == 'Australia/Oceania'].head(5).sort_values(by='total_confirmed', ascending=False)

In [118]:
sorted_summary_asia

fig = px.bar(
    sorted_summary_asia,
    x ='country',
    y = 'total_confirmed',
    color='continent'
)

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
sorted_summary_africa

,country,continent,total_confirmed,total_deaths,total_recovered,total_tests,population
25,Botswana,Africa,306324,2690.0,303026.0,2026898.0,2440037
2,Algeria,Africa,265816,6875.0,178371.0,230861.0,45325517
4,Angola,Africa,99194,1900.0,97149.0,1499795.0,34769277
20,Benin,Africa,26952,163.0,25506.0,604310.0,12714341
30,Burkina Faso,Africa,20853,382.0,20439.0,248995.0,21970296

In [ ]:
sorted_summary_europe

,country,continent,total_confirmed,total_deaths,total_recovered,total_tests,population
11,Austria,Europe,4212492,18303.0,4135885.0,185034905.0,9102106
18,Belgium,Europe,4116397,31613.0,3941350.0,33846023.0,11683561
17,Belarus,Europe,982867,6978.0,0.0,13220483.0,9443535
1,Albania,Europe,275574,3497.0,271826.0,1817530.0,2871945
3,Andorra,Europe,42156,153.0,41021.0,249838.0,77495

In [ ]:
sorted_summary_au

,country,continent,total_confirmed,total_deaths,total_recovered,total_tests,population
10,Australia,Australia/Oceania,6593795,7794.0,6199822.0,70885598.0,26050899
74,French Polynesia,Australia/Oceania,72821,649.0,0.0,0.0,283932
70,Fiji,Australia/Oceania,64773,862.0,62875.0,517703.0,908543
48,Cook Islands,Australia/Oceania,5410,1.0,5291.0,17469.0,17594
107,Kiribati,Australia/Oceania,3093,13.0,2602.0,0.0,122862

In [ ]:
sorted_summary_na

,country,continent,total_confirmed,total_deaths,total_recovered,total_tests,population
16,Barbados,North America,76261,433.0,71497.0,669421.0,288030
9,Aruba,North America,35693,213.0,35199.0,177885.0,107610
13,Bahamas,North America,33871,801.0,32488.0,233473.0,400242
6,Antigua And Barbuda,North America,7721,137.0,7511.0,18901.0,99439
5,Anguilla,North America,2984,9.0,2916.0,51382.0,15252

In [ ]:
sorted_summary_sa

,country,continent,total_confirmed,total_deaths,total_recovered,total_tests,population
26,Brazil,South America,30682094,664920.0,29718402.0,63776166.0,215373503
7,Argentina,South America,9101319,128729.0,8895999.0,35716069.0,45968174
45,Colombia,South America,6095316,139821.0,5928829.0,34675581.0,51892950
41,Chile,South America,3605522,57722.0,3468131.0,37693651.0,19421812
23,Bolivia,South America,906146,21943.0,863665.0,2705422.0,11969554